<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rosie Administrative Console</title>
    <style>
        body {
            background-color: lightblue;
            font-family: Arial, sans-serif;
        }
        .container {
            margin: 0 auto;
            width: 90%; /* Adjust the width as needed */
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .response {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        table {
            border-collapse: collapse;
            width: 100%; /* Set table width to 100% */
        }
        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        /* Additional styles for modal */
        .modal {
            display: none; /* Hidden by default */
            position: fixed;
            z-index: 999; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
        }
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 60%; /* Adjust modal width as needed */
            max-width: 600px; /* Maximum width for modal */
            border-radius: 5px; /* Rounded corners */
            position: relative; /* Relative position for close button */
        }
        .close {
            color: #aaaaaa;
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }
        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h2>Live Microphone Stream</h2>
    <button id="micstartButton">Start Mic Streaming</button>
    <audio id="audio_mic" controls></audio>
    <script>
        document.getElementById('micstartButton').addEventListener('click', function() {
            const audio_mic = document.getElementById('audio_mic');
            // Replace the URL with your FastAPI server's URL
            const audioMicSrc = "{{ data.server_url }}/audio-microphone";
            // Set the audio element's source to the stream URL and play
            audio_mic.src = audioMicSrc;
            audio_mic.play().catch(error => console.error('Error trying to play the audio stream:', error));
        });
    </script>
    <h2>Live File Stream</h2>
    <button id="filestartButton">Start File Streaming</button>
    <audio id="audio_file" controls></audio>
    <script>
        document.getElementById('filestartButton').addEventListener('click', function() {
            const audio_file = document.getElementById('audio_file');
            // Replace the URL with your FastAPI server's URL
            const audioFileSrc = "{{ data.server_url }}/audio-file";
            // Set the audio element's source to the stream URL and play
            audio_file.src = audioFileSrc;
            audio_file.play().catch(error => console.error('Error trying to play the audio stream:', error));
        });
        // Add an event listener for when the audio is paused
        document.getElementById('audio_file').addEventListener('pause', function() {
            // Only send the stop request if the audio has actually started
            if (this.currentTime > 0 && !this.ended) {
                fetch('{{ data.server_url }}/stop-stream', {
                    method: 'GET', // or 'POST', depending on your endpoint
                })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error stopping the stream:', error));
            }
        });
       </script>
   
    <div class="container">
        <h2>Rosie Administrative Console</h2>
        <form id="textInputForm">
            <label for="apiEndpoint">API Endpoint:</label><br>
            <input type="text" id="apiEndpoint" name="apiEndpoint" value="{{ data.server_url }}/api/makecall" style="width: 100%;"><br><br>
            <label for="textInput">Enter Text:</label><br>
            <textarea id="textInput" name="textInput" rows="5" style="width: 100%; resize: vertical;">{
    "TO_NUMBER": "+14152541216",
    "FROM_NUMBER": "+16506682468"
}</textarea><br><br>
            <button type="submit">Make Call</button>
        </form>
        <hr> <!-- Decorative horizontal line -->
        <div id="serverResponse" style="color: red;">
        Server Response
        </div>
        <hr> <!-- Decorative horizontal line -->

        <button id="getHistoryBtn">Get History</button>
        <div class="response" id="historyResponse">
            <h3>History:</h3>
            <table id="historyTable">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>SID</th>
                        <th>To Number</th>
                        <th>From Number</th>
                        <th>Start Time</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- History data will be inserted here -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div id="audioModal" class="modal">
        <div class="modal-content">
            <span id="closeModalBtn" class="close">&times;</span>
            <audio id="audioPlayer" controls></audio> <!-- Audio element for playback -->
        </div>
    </div>
    
    <script>
        let isStreaming = false; // Flag to track streaming state
        document.getElementById("textInputForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent the default form submission
            
            // Get the API endpoint and text input value
            var apiEndpoint = document.getElementById("apiEndpoint").value;
            var textInput = document.getElementById("textInput").value;
    
            // Make a POST request to the specified API endpoint
            fetch(apiEndpoint, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(textInput)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                console.log("Response from server:", data);
                // Display the response from server
                document.getElementById("serverResponse").innerText = JSON.stringify(data);
            })
            .catch(error => {
                console.error("Error:", error);
                // Display error message
                document.getElementById("serverResponse").innerText = "Error: " + error.message;
            });
        });
    
        document.getElementById("getHistoryBtn").addEventListener("click", function() {
            // Make a GET request to your server's REST API endpoint for history
            fetch('/api/getallcalls')
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                console.log("History Response from server:", data);
                // Display the history response from server
                displayHistory(data);
            })
            .catch(error => {
                console.error("Error:", error);
                // Display error message
                document.getElementById("historyResponse").innerText = "Error: " + error.message;
            });
        });
    
        // Function to display history data in the table
        function displayHistory(historyData) {
            var tableBody = document.getElementById("historyTable").getElementsByTagName("tbody")[0];
            tableBody.innerHTML = ""; // Clear existing rows
            
            if (historyData.length === 0) {
                // If history data is empty, display a message
                document.getElementById("historyResponse").innerText = "No history available.";
                return;
            }
    
            historyData.forEach(function(historyItem) {
                console.log('Current SID:', historyItem.sid); // Log the SID being processed

                var row = tableBody.insertRow();
                var actionCell = row.insertCell(0);
                var sidCell = row.insertCell(1);
                var toNumberCell = row.insertCell(2);
                var fromNumberCell = row.insertCell(3);
                var startTimeCell = row.insertCell(4);
                var durationCell = row.insertCell(5);


                //if (true) {
                if (historyItem.active != true) {
                    // Create a hyperlink for SID
                    var sidLink = document.createElement('a');
                    sidLink.href = '#'; // Set href attribute to '#' for now
                    sidLink.innerText = historyItem.sid;
                    sidLink.onclick = function(event) {
                        event.preventDefault(); // Prevent default action of hyperlink
                        
                        // Fetch audio file for the SID
                        fetch('/api/getaudiofile?CallSid=' + historyItem.sid)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error("Network response was not ok");
                            }
                            return response.blob();
                        })
                        .then(blob => {
                            // Remove any existing audio element from the modal
                            var modalContent = document.querySelector('.modal-content');
                            var existingAudio = modalContent.querySelector('audio');
                            if (existingAudio) {
                                modalContent.removeChild(existingAudio);
                            }
                            
                            // Create and append a new audio element for playback
                            var audio = document.createElement('audio');
                            audio.controls = true;
                            audio.src = URL.createObjectURL(blob);
                            modalContent.appendChild(audio);
                            
                            // Show the modal
                            var modal = document.getElementById('audioModal');
                            modal.style.display = 'block';
                        })
                        .catch(error => {
                            console.error("Error:", error);
                            // Display error message
                            alert("Error fetching audio file: " + error.message);
                        });
                    }
                    sidCell.appendChild(sidLink);
                }
                else {
                    var toggleButton = document.createElement('button');
                    toggleButton.innerText = 'Start Streaming'; // Set the button text
                    toggleButton.id = 'toggleButton'; // Set the button id (ensure it's unique if adding multiple buttons)

                    var streamaudio = document.createElement('audio');
                    streamaudio.controls = true; // Add controls so users can play/pause
                    streamaudio.id = 'streamaudio';

                    let isStreaming = false; // Initialize streaming flag

 
                    toggleButton.addEventListener('click', () => {
                        if (isStreaming) {
                            // Stop Streaming
                            stopStreaming();
                            streamaudio.src = ""; // Stop the audio by clearing the source
                            toggleButton.textContent = "Start Streaming"; // Update button text
                            isStreaming = false; // Update flag
                            stopStreaming();
                        }
                        else {
                            // Start Streaming
                            startStreaming();
                            toggleButton.textContent = "Stop Streaming"; // Update button text
                            isStreaming = true; // Update flag
                        }
                    });

                    function startStreaming() {
                        console.log('Streaming SID in startStreaming:', historyItem.sid); // Confirm SID at the start of streaming

                        // Directly set the audio element's src to the streaming endpoint URL
                        streamaudio.src = '/api/stream-live-audio?action=start&CallSid=' + historyItem.sid;
                        streamaudio.play().catch(error => {
                            console.error('Error trying to play the audio stream:', error); // Log the error
                            // Display the error to the user, if there's a designated place for error messages
                            const serverResponseElement = document.getElementById("serverResponse");
                            if (serverResponseElement) {
                                serverResponseElement.innerText = "Error playing stream: " + error.message;
                            }
                        });                     
                    }
                    function stopStreaming() {
                        console.log('Stop Streaming SID in stopStreaming:', historyItem.sid); // Confirm SID at the start of streaming

                        // Directly set the audio element's src to the streaming endpoint URL
                        streamaudio.src = '/api/stream-live-audio?action=stop&CallSid=' + historyItem.sid;
                        streamaudio.play().catch(error => {
                            console.error('Error trying to stop the audio stream:', error); // Log the error
                            // Display the error to the user, if there's a designated place for error messages
                            const serverResponseElement = document.getElementById("serverResponse");
                            if (serverResponseElement) {
                                serverResponseElement.innerText = "Error playing stream: " + error.message;
                            }
                        });                     
                    }

                    function handleStalledPlayback() {
                        console.log('Playback stalled. Attempting to recover...');
                        if (streamaudio.paused) {
                            // If playback is already paused, just try to play again
                            streamaudio.play().catch(error => console.error('Error trying to resume playback:', error));
                        } else {
                            // Pause and then play to jumpstart playback
                            streamaudio.pause();
                            streamaudio.play().catch(error => console.error('Error trying to resume playback:', error));
                        }
                    }    
                    // Debugging: Add event listeners for the audio element
                    streamaudio.addEventListener('play', () => console.log('Audio started playing'));
                    streamaudio.addEventListener('pause', () => console.log('Audio paused'));
                    streamaudio.addEventListener('error', () => console.error('Audio playback error'));
                    streamaudio.addEventListener('ended', () => console.log('Audio playback ended'));
                    streamaudio.addEventListener('stalled', () => { handleStalledPlayback(); });                    
                    streamaudio.addEventListener('waiting', () => console.log('Waiting for audio data...'));


                    var sidTextNode = document.createTextNode(historyItem.sid + ' '); // Adding a space for separation
                    sidCell.appendChild(sidTextNode);


                    sidCell.appendChild(toggleButton); 
                    sidCell.appendChild(streamaudio); 
                }
    
                toNumberCell.innerText = historyItem.to_number;
                fromNumberCell.innerText = historyItem.from_number;
                startTimeCell.innerText = historyItem.start_time;
                durationCell.innerText = historyItem.duration;

                if (historyItem.active == true) {
                    var hangupButton = document.createElement('button');
                    hangupButton.innerText = 'Hangup'; // Set the button text
                    hangupButton.onclick = function() {
                        // Call the API with the unique ID
                        fetch('/api/endcall?CallSid=' + historyItem.sid)
                        .then(response => response.json())
                        .then(data => console.log(data))
                        .catch(error => console.error('Error:', error));
                    };
                    actionCell.appendChild(hangupButton);
                }
            });
        }
    
       
        // Close the modal when the close button is clicked
        document.getElementById('closeModalBtn').onclick = function() {
            var modal = document.getElementById('audioModal');
            modal.style.display = 'none'; // Hide the modal
            
            // Remove the audio element from the modal
            var modalContent = document.querySelector('.modal-content');
            var audio = modalContent.querySelector('audio');
            if (audio) {
                modalContent.removeChild(audio);
            }
        };
    </script>
</body>
</html>
